---
layout: default
type: home
title: I'm Sergio Martin Rubio
---

<!--
Every section you see here in the website homepage are included here.
All these included files are found inside '_includes' folder.
You can edit them there.
 -->

<p>
  Hi I am Sergio! :wave: I am a <srong>Software Engineer</srong> who specializes 
  in scalable :cloud: and high performance :rocket: web applications. I would be glad to help you! :grinning:
</p>

{% include expertise.html %}

<p>
  My expertise covers a wide range of technologies like <i>Java 8+</i>, <i>Spring Boot</i>, 
  <i>Kubernetes</i>, <i>AWS</i>, <i>MySQL</i>, <i>Jenkins</i>, <i>Git</i>, <i>Splunk</i> and many others.
  I have also experience on architecture design of distributed systems and following the best microservices 
  practices. Finally, agile methodologies (Scrum, Kanban) are also part of my skill set.
</p>

{% include projects.html %}

{% include articles.html %}

<div>
  <p>
    I started this blog to be a better software engineer and keep up to date with the 
    latest practices and technologies. :neckbeard:
  </p>
  <p>
    I started learning Java in 2017 and I read many amazing books :books: at the beginning, like 
    <i>Effective Java</i>, <i>Java 8 in Action</i>, <i>TCP/IP sockets in Java</i>..., but after a year 
    I realized that I had not spent my time wisely :disappointed: because I simply read these 
    books without any further practice. This is when I decided to have my personal 
    tech blog where I can materialize the content I learn outside of work. :bulb: :smiley:
  </p>
</div>

{% include testimonials.html %}
