<footer data-aos="fade-up">
  <div class="text-right">
    <p class="copy">
      <i class="fas fa-code"></i> with <i class="fas fa-heart"></i>
      by <a class="rev" href="{{site.url}}"><strong>{{ site.data.main.name }}</strong></a>
      <i class="fa fa-at"></i> 2023
    </p>
  </div>
  <div class="text-right">
    <div class="container-fluid justify-content-center">
      <a href="/privacy-policy/">Privacy Policy</a> &nbsp;|&nbsp;
      <a href="/copyright-policy/">Copyright Policy</a>
    </div>
  </div>
</footer>